<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2009 i>clicker (R) <http://www.iclicker.com/dnn/>

    This file is part of i>clicker Sakai integrate.

    i>clicker Sakai integrate is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    i>clicker Sakai integrate is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with i>clicker Sakai integrate.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

    <!-- controller bean -->
    <bean id="org.sakaiproject.iclicker.tool.ToolController" class="org.sakaiproject.iclicker.tool.ToolController" init-method="init">
        <property name="logic" ref="org.sakaiproject.iclicker.logic.IClickerLogic" />
        <property name="externalLogic" ref="org.sakaiproject.iclicker.logic.ExternalLogic" />
        <property name="messageSource" ref="messageSource" />
    </bean>

    <!-- the i18n messages source -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename">
            <bean class="org.sakaiproject.iclicker.tool.ToolController" factory-method="springMessageBundle"/>
        </property>
    </bean>

    <!-- start up all the core beans -->
    <import resource="components.xml" />

</beans>
