<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2003 i>clicker (R) <http://www.iclicker.com/dnn/>

    This file is part of Sakai iclicker project base pom.

    Sakai iclicker project base pom is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Sakai iclicker project base pom is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Sakai iclicker project base pom.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="org.sakaiproject.iclicker.hbmMappingList" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <value>org/sakaiproject/iclicker/dao/hbm/ClickerRegistration.hbm.xml</value>
                <value>org/sakaiproject/iclicker/dao/hbm/ClickerLock.hbm.xml</value>
                <value>org/sakaiproject/iclicker/dao/hbm/ClickerUserKey.hbm.xml</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappings.iclicker"
        class="org.sakaiproject.springframework.orm.hibernate.impl.AdditionalHibernateMappingsImpl">
        <property name="mappingResources">
            <list>
                <value>org/sakaiproject/iclicker/dao/hbm/ClickerRegistration.hbm.xml</value>
                <value>org/sakaiproject/iclicker/dao/hbm/ClickerLock.hbm.xml</value>
                <value>org/sakaiproject/iclicker/dao/hbm/ClickerUserKey.hbm.xml</value>
            </list>
        </property>
    </bean>

    <bean id="org.sakaiproject.iclicker.impl.dao.IClickerDaoImplTarget"
        class="org.sakaiproject.iclicker.impl.dao.IClickerDaoImpl"
        init-method="init">
        <property name="sessionFactory" ref="org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory" />
        <property name="persistentClasses">
            <list>
                <value>org.sakaiproject.iclicker.model.dao.ClickerRegistration</value>
                <value>org.sakaiproject.iclicker.model.dao.ClickerLock</value>
                <value>org.sakaiproject.iclicker.model.dao.ClickerUserKey</value>
            </list>
        </property>
    </bean>
    
    <bean id="org.sakaiproject.iclicker.api.dao.IClickerDao"
        class="org.sakaiproject.genericdao.springutil.CurrentClassLoaderTxProxyFactoryBean">
        <property name="transactionManager" ref="org.sakaiproject.springframework.orm.hibernate.GlobalTransactionManager" />
        <property name="target" ref="org.sakaiproject.iclicker.impl.dao.IClickerDaoImplTarget" />
        <property name="transactionAttributes">
            <props>
                <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="count*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

</beans>
